<ion-content>
  <div class="top-section ion-padding">
  <!-- Top Menu -->
  <div class="top-menu">
  </div>
  <div class="title">
    <ion-icon name="person-circle" class="icon-user"></ion-icon>
    <h2>Nama User</h2>
    <h6>202105030100101301</h6>
  </div>
  </div>
  <!-- End Top Menu -->
  <!-- Content -->
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="col-top-right">
          <b>CONTACTABLE AT</b>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="col-top-right">
          <!-- Item Dividers in a List -->
          <ion-list>
            <ion-label>Email</ion-label>
            <ion-item-divider>
              <ion-label>
                user@email.com
              </ion-label>
            </ion-item-divider>
          </ion-list>
          <ion-list>
            <ion-label>No. Handphone</ion-label>
            <ion-item-divider>
              <ion-label>
                08-xxx-xxx-xxx
              </ion-label>
            </ion-item-divider>
          </ion-list>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="col-top-right">
          <b>DATA</b>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="col-top-right">
          <!-- Item Dividers in a List -->
          <ion-list>
            <ion-label>NIK</ion-label>
            <ion-item-divider>
              <ion-label>
                1232145345656
              </ion-label>
            </ion-item-divider>
          </ion-list>
          <ion-list>
            <ion-label>Tempat Lahir</ion-label>
            <ion-item-divider>
              <ion-label>
                Bali
              </ion-label>
            </ion-item-divider>
          </ion-list>
          <ion-list>
            <ion-label>Tanggal Lahir</ion-label>
            <ion-item-divider>
              <ion-label>
                25/06/1992
              </ion-label>
            </ion-item-divider>
          </ion-list>
          <ion-list>
            <ion-label>Jenis Kelamnin</ion-label>
            <ion-item-divider>
              <ion-label>
                Laki - Laki
              </ion-label>
            </ion-item-divider>
          </ion-list>
          <ion-list>
            <ion-label>Provinsi</ion-label>
            <ion-item-divider>
              <ion-label>
                Jawa Barat
              </ion-label>
            </ion-item-divider>
          </ion-list>
          <ion-list>
            <ion-label>Kota</ion-label>
            <ion-item-divider>
              <ion-label>
                Bandung
              </ion-label>
            </ion-item-divider>
          </ion-list>
          <ion-list>
            <ion-label>Kecamatan</ion-label>
            <ion-item-divider>
              <ion-label>
                Margahayu
              </ion-label>
            </ion-item-divider>
          </ion-list>
          <ion-list>
            <ion-label>Desa</ion-label>
            <ion-item-divider>
              <ion-label>
                Margahayu Selatan
              </ion-label>
            </ion-item-divider>
          </ion-list>
          <ion-list>
            <ion-label>Alamat</ion-label>
            <ion-item-divider>
              <ion-label>
                Jln. Syariah Blok A No. 1, Indonesia
              </ion-label>
            </ion-item-divider>
          </ion-list>
          <ion-list>
            <ion-label>Agama</ion-label>
            <ion-item-divider>
              <ion-label>
                Islam
              </ion-label>
            </ion-item-divider>
          </ion-list>
          <ion-list>
            <ion-label>Pekerjaan</ion-label>
            <ion-item-divider>
              <ion-label>
                Wirausaha
              </ion-label>
            </ion-item-divider>
          </ion-list>
          <ion-list>
            <ion-label>Status Perkawinan</ion-label>
            <ion-item-divider>
              <ion-label>
                Belum Menikah
              </ion-label>
            </ion-item-divider>
          </ion-list>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!-- End Content -->
   
  </ion-content>
  