
<ion-content>
  <ion-img src="assets/images/Asset1.png"></ion-img>
  <ion-card>
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <div class="ion-activatable ripple-parent">
    Forget Password ?
    <ion-ripple-effect></ion-ripple-effect>
  </div>
  <ion-button expand="block" color="new">Login</ion-button>
  <ion-button expand="block" color="success">Register</ion-button>

  </ion-card>

 
</ion-content>
