<ion-content>
  <div class="top-section ion-padding">
  <div class="top-menu">
  
  </div>
  <div class="title">
    <h2>Progress</h2>
  </div>
  </div>
  <div class="mid-nav ion-padding">
  <ion-segment-button class="segment-button">
    Construction
  </ion-segment-button>
  <ion-segment-button class="segment-button" (click)="openFinishedInTab()">
    Finished
  </ion-segment-button>
  </div>
  
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="col-top-right">
          <ion-img src="assets/images/SEVILLATYPE65.jpg" class="img-top"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" class="col-top-right">
          <ion-img src="assets/images/engineering.png" class="img-left"></ion-img>
        </ion-col>
        <ion-col size="1" class="col-top-right">
          <div class="vl"></div>
        </ion-col>
        <ion-col size="3" class="col-top-right">
          <ion-img src="assets/images/logoInsinyur.png" class="img-right"></ion-img>
        </ion-col>
        <ion-col size="4" class="col-top-right">
          <h6>Nama Pengawas</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" class="col-top-right">
          <h2>90%</h2>
        </ion-col>
        <ion-col size="1" class="col-top-right">
          <div class="vl"></div>
        </ion-col>
        <ion-col size="3" class="col-top-right">
          <ion-img src="assets/images/worker.png" class="img-right"></ion-img>
        </ion-col>
        <ion-col size="4" class="col-top-right">
          <h6>Pemasangan Dekorasi</h6>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> 
  
  </ion-content>
  