<ion-content>
  <div class="top-section ion-padding">
  <div class="top-menu">
  
  </div>
  <div class="title">
    <h2>Payment</h2>
  </div>
  </div>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="3" class="col-top-left">
            <h1>A1</h1>
        </ion-col>
        <ion-col size="6" class="col-top-right">
          <ion-img src="assets/images/SEVILLATYPE65.jpg"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="col-center">
          <div class="padding">
              <ion-grid>
                <ion-row>
                  <ion-col size="5" class="text-payment">
                    <div class="left-text">Metode Bayar <br> <div class="little-text">Cash Bertahap</div></div>
                  </ion-col>
                  <ion-col size="2" class="text-payment">
                    <div class="vl"></div>
                  </ion-col>
                  <ion-col size="5" class="text-payment">
                  <div class="right-text">Harga Akad <br> <div class="little-text">Rp.500.000.000,-</div></div>
                </ion-col>
                </ion-row>
              </ion-grid>         
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="col-center">
          <div class="padding">
            <ion-grid>
                <ion-row>
                  <ion-col size="5" class="text-payment">
                    <div class="left-text">Awal Angsuran <br><div class="little-text">Maret 2021</div> </div>
                  </ion-col>
                  <ion-col size="2" class="text-payment">
                    <div class="vl"></div>
                  </ion-col>
                  <ion-col size="5" class="text-payment">
                  <div class="right-text">Pelunasan <br><div class="little-text">Rp.500.000.000,-</div> </div>
                </ion-col>
                </ion-row>
              </ion-grid>    
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="col-center">
          <div class="padding">
            <ion-grid>
                <ion-row>
                  <ion-col size="5" class="text-payment">
                    <div class="left-text">Down Payment (DP) <br><div class="little-text">Rp. 100.000.000,-</div> </div>
                  </ion-col>
                  <ion-col size="2" class="text-payment">
                    <div class="vl"></div>
                  </ion-col>
                  <ion-col size="5" class="text-payment">
                  <div class="right-text">Angsuran Terbayar <br><div class="little-text">Rp.200.000.000,-</div> </div>
                </ion-col>
                </ion-row>
              </ion-grid>    
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-end">
        <ion-col >
          <ion-button color="secondary" size="small" (click)="openPembayaraInTab()">Bukti Pembayaran</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> 
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="3" class="col-top-left">
            <h1>A1</h1>
        </ion-col>
        <ion-col size="6" class="col-top-right">
          <ion-img src="assets/images/SEVILLATYPE65.jpg"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="col-center">
          <div class="padding">
              <ion-grid>
                <ion-row>
                  <ion-col size="5" class="text-payment">
                    <div class="left-text">Metode Bayar <br> <div class="little-text">Cash Bertahap</div></div>
                  </ion-col>
                  <ion-col size="2" class="text-payment">
                    <div class="vl"></div>
                  </ion-col>
                  <ion-col size="5" class="text-payment">
                  <div class="right-text">Harga Akad <br> <div class="little-text">Rp.500.000.000,-</div></div>
                </ion-col>
                </ion-row>
              </ion-grid>         
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="col-center">
          <div class="padding">
            <ion-grid>
                <ion-row>
                  <ion-col size="5" class="text-payment">
                    <div class="left-text">Awal Angsuran <br><div class="little-text">Maret 2021</div> </div>
                  </ion-col>
                  <ion-col size="2" class="text-payment">
                    <div class="vl"></div>
                  </ion-col>
                  <ion-col size="5" class="text-payment">
                  <div class="right-text">Pelunasan <br><div class="little-text">Rp.500.000.000,-</div> </div>
                </ion-col>
                </ion-row>
              </ion-grid>    
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="col-center">
          <div class="padding">
            <ion-grid>
                <ion-row>
                  <ion-col size="5" class="text-payment">
                    <div class="left-text">Down Payment (DP) <br><div class="little-text">Rp. 100.000.000,-</div> </div>
                  </ion-col>
                  <ion-col size="2" class="text-payment">
                    <div class="vl"></div>
                  </ion-col>
                  <ion-col size="5" class="text-payment">
                  <div class="right-text">Angsuran Terbayar <br><div class="little-text">Rp.200.000.000,-</div> </div>
                </ion-col>
                </ion-row>
              </ion-grid>    
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-end">
        <ion-col >
          <ion-button color="secondary" size="small">Bukti Pembayaran</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> 
   
  </ion-content>
  