<ion-content>
  <div class="top-section ion-padding">
  <div class="top-menu">
  
  </div>
  <div class="title">
    <h2>Home</h2>
  </div>
  </div>

    <ion-grid>
      <ion-row>
        <ion-col size="12" class="col-top-left">
          <div class="image-text">Hunian Syariah dalam lingkungan generasi nan Islami</div>
          <ion-img src="assets/images/SEVILLATYPE65.jpg"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" class="col-top-left">
          <div class="padding">Tanpa KPR Bank</div>
        </ion-col>
        <ion-col size="4" class="col-top-left">
          <div class="padding">Tanpa Sita</div>
        </ion-col>
        <ion-col size="4" class="col-top-left">
          <div class="padding">Tanpa Denda</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" class="col-top-left">
          <div class="padding">Tanpa BI Checking</div>
        </ion-col>
        <ion-col size="4" class="col-top-left">
          <div class="padding">Tanpa Biaya Asuransi</div>
        </ion-col>
        <ion-col size="4" class="col-top-left">
          <div class="padding">Tanpa Akad Bakhtil & Bermasalah</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  