<ion-content>
  <div class="top-section ion-padding">
  <!-- Top Menu -->
  <div class="top-menu">
    <ion-img src="assets/images/Asset1.png"></ion-img>
  </div>
  <div class="title">
    REGISTER
  </div>
  <div class="hl"></div>
  </div>
  <!-- End Top Menu -->
  <!-- Content -->
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="col-top-right">
          <b>CONTACTABLE AT</b>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="col-top-right">
          <!-- Item Dividers in a List -->
          <ion-item>
            <ion-label position="floating">Nama</ion-label>
              <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
              <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">No. Handphone</ion-label>
            <ion-input></ion-input>
          </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="col-top-right">
          <b>DATA</b>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="col-top-right">
          <!-- Item Dividers in a List -->
          <ion-item>
            <ion-label position="floating">NIK</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Tempat Lahir</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Tanggal Lahir</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Jenis Kelamin</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Provinsi</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Kota</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Kecamatan</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Desa</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Alamat</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Agama</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Pekerjaan</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Status Perkawinan</ion-label>
            <ion-input></ion-input>
          </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-button expand="block">Submit</ion-button>
  <ion-button expand="block">Cancle</ion-button>
  <!-- End Content -->
   
  </ion-content>
  